body {
  background-color: black;
}

#winlogo {
  width: 5%;
  height: 5%;
}

#maclogo {
  width: 4%;
  height: 4%;
  margin-bottom: 0.5%;
}

.screenshot {
  /*margin-top: 0px;
  padding-top: 0px;
  margin-left: 16.75vh;
  display: block;*/
  width: 55%;
  height: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 20vh;
  height: 20vh;
  margin-bottom: 1vh;
}

.instructions {
  color: white;
  margin-top: 5vh;
}

.downloads {
  display: block;
  margin: auto;
  width: auto;
}

.title {
  margin-top: 16%;
  /*margin-bottom: 40%;*/
  color: white;
}

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
}

.height {
  height: 100vh;
  overflow: auto;
}

.height2 {
  margin-top: 5vh;
  overflow: auto;
}

.losenote {
  margin-top: 2vh;
}

.wordwrapper {
  word-wrap: break-word;
}

h0 {
  font-size: 6em;
}

.bounce {
  top: 95vh;
  color: white;
  position: absolute;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  70%,
  100% {
    transform: translateY(0);
  }
  40% {
	transform: translateY(-30px);
  }
  60% {
	transform: translateY(-15px);
  }
  80% {
	transform: translateY(-7.5px);
  }
}
