body {
  background: black;
}

.downloads {
  display: inline-block;
}

a:link, a:visited {
    color: white;
    text-align: center; 
    text-decoration: none;
}

a:hover, a:active {
    color: red;
}
